body {
  background-color: hsl(185, 75%, 39%);
  color: hsl(229, 23%, 23%);
}

.profilecard {
  width: 100%;
  position: relative;
  border-radius: 5% 5% 0 0;
}

.info {
  position: relative;
  background-color: white;
  width: 20rem;
  height: 20rem;
  border-radius: 5%;
  text-align: center;
  margin: 10rem auto;
  box-shadow: 8px 8px 50px 1px #00000040;
}

.profilepicture {
  border-radius: 50%;
  border: 5px solid white;
  z-index: 2;
}
.imagetest {
  position: absolute;
  left: 100px;
  bottom: 10rem;
}

.profile {
  position: absolute;
}

p {
  color: hsl(0, 0%, 59%);
}

.name {
  float: left;
  margin-left: 6rem;
}

.age {
  margin-right: 5rem;
  color: hsl(0, 0%, 59%);
}

.client {
  margin-top: 3rem;
}

.subtext {
  color: hsl(0, 0%, 59%);
}

.statsdetails {
  float: left;
  margin-left: 45px;
}

p.subtext {
  font-size: 12px;
}

.top {
  width: 40rem;
  position: absolute;
  bottom: 20rem;
  right: 45rem;
  z-index: -1;
}

.bottom {
  width: 30rem;
  position: absolute;
  left: 50rem;
  top: 20rem;
  z-index: -1;
}

@media (max-width: 900px) {
  .top {
    width: 40rem;
    position: absolute;
    bottom: 20rem;
    right: 20rem;
    z-index: -1;
  }

  .bottom {
    width: 30rem;
    position: absolute;
    left: 20rem;
    top: 20rem;
    z-index: -1;
  }

  body {
    /* background-color: hotpink; */
  }
}
